<div class="panel panel-default">
  <table class="table" [ngClass]="{'table-hover': link}">
    <thead>
      <tr>
        <th *ngFor="#header of headers">
          {{header.text}}
        </th>
      </tr>
    </thead>

    <tr *ngFor="#row of data" [ngClass]="{clickable: link}" (click)="click(row)">
      <td *ngFor="#header of headers">
        <span [ngSwitch]="row.get(header.identifier).type">
          <a *ngSwitchWhen="1" href="{{formatLink(row.get(header.identifier).onClick())}}" target="_blank">{{row.get(header.identifier).format()}}</a>
          <button *ngSwitchWhen="2" (click)="row.get(header.identifier).onClick()" [ngClass]="row.get(header.identifier).btnStyle">{{row.get(header.identifier).format()}}</button>
          <span *ngSwitchDefault>{{row.get(header.identifier).format()}}</span>
        </span>
      </td>
    </tr>
  </table>
</div>
