<div class="panel panel-default">
  <table class="table" [ngClass]="{'table-hover': link}">
    <thead>
      <tr>
        <th *ngFor="#header of headers">
          {{header.text}}
        </th>
      </tr>
    </thead>

    <tr *ngFor="#row of data" [ngClass]="{clickable: link}" (click)="click(row)">
      <td *ngFor="#header of headers">
        <a *ngIf="row.get(header.identifier).link" href="{{formatLink(row.get(header.identifier).onClick())}}">{{row.get(header.identifier).format()}}</a>
        <span *ngIf="!row.get(header.identifier).link">{{row.get(header.identifier).format()}}</span>
      </td>
    </tr>
  </table>
</div>
